h2 {
  padding-top: 25px;
}

body {
  background-color: #00AAA0;
  font-size: 15px;
  font-family: "Bangers", cursive;
  color: white;
}

#container {
  padding-left: 30%;
}

.timerView {
  font-size: 100px;
  cursor: pointer;
  padding-left: 18%;
}

.plus {
  cursor: pointer;
}

.minus {
  cursor: pointer;
}
